
.discoverLabel{
    -fx-padding: 0 0 0 250;
    -fx-font-family: "Blue Highway";
    -fx-font-size: 28;
    -fx-alignment: center;
    -fx-text-fill:#eb6e80;

}


.scrollpane {
        -fx-focus-color: transparent;
        -fx-padding: 0 0 0 25;
        -fx-background-insets: -1.4, 0, 1, 2;

}


.rect{
    -fx-content-display: top;
    -fx-overflow: hidden;
    -fx-text-overflow: ellipsis;
    -fx-min-width: 175px;
    -fx-max-width: 175px;
    -fx-pref-height: 250px;




}
.vbrect{
    -fx-focus-color: transparent;

    -fx-padding: 25 0 0 5;
}
.scrollpane{


}
.scrollDescription{
-fx-focus-color: transparent;
        -fx-padding: 2.25;
        -fx-pref-width:16.5;
        -fx-vbar-policy:always;
        -fx-hbar-policy:never;

}
.scrollReview {
-fx-focus-color: transparent;
        -fx-padding: 2.25;
        -fx-pref-width:16.5;
        -fx-vbar-policy:always;
        -fx-hbar-policy:never;
}
