.root{
    -fx-background-color: #30110D;

}
.label{
    -fx-text-fill: #F2BC94;
    -fx-stroke: green;
    -fx-stroke-width: 20px;

}
.inner {
    -fx-background-color: #F2BC94;


}
.text{
     -fx-text-fill: #F2BC94;

}
.button{
    -fx-background-color:#722620;
    -fx-text-fill: #F2BC94;
}

.buttonsBasic{
    -fx-background-color:#722620;
    -fx-text-fill: #F2BC94;
}
.BookTitle{
    -fx-fill: #F2BC94;
}

.starButton{
    -fx-background-color: transparent;
}

.book-info-banner {
    -fx-background-color: #30110D;
}
.book-info-banner * {
    -fx-text-fill: #F2BC94;
}
.combo-box{
  -fx-background-color:#722620;
    -fx-text-fill: #F2BC94;
}
.combo-box .list-cell{
     -fx-background-color:#722620;
     -fx-text-fill: #F2BC94;
}
.combo-box .list-cell:hover{
     -fx-background-color: #F2BC94;
     -fx-text-fill: #722620;
}
.combo-box .list-view{
     -fx-background-color:#722620;
     -fx-text-fill: #F2BC94;
}
.combo-box-base  {
    -fx-background-color: #F2BC94;

}
.deleteButton {
    -fx-padding: 12px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-text-fill: #F2BC94;
    -fx-background-color:#722620;

}

.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#722620,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#30110D,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}


.discoverLabel{
    -fx-padding: 0 0 0 250;
    -fx-font-family: "Blue Highway";
    -fx-font-size: 28;
    -fx-alignment: center;
    -fx-text-fill:#eb6e80;

}




.bookSquareWidget{
    -fx-content-display: top;
    -fx-overflow: hidden;
    -fx-text-overflow: ellipsis;
    -fx-min-width: 175px;
    -fx-max-width: 175px;
    -fx-pref-height: 250px;

}
.bookshelfWidget{
    -fx-background-radius: 20;

    -fx-overflow: hidden;
    -fx-text-overflow: ellipsis;
    -fx-min-width: 175px;
    -fx-border-insets: 25px;

}
.vbrect{
    -fx-focus-color: transparent;

    -fx-padding: 25 0 0 5;
}
.description{
    -fx-border-width: 0;
}

.scroll-description{
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-hbar-policy: never;
    -fx-background-color: transparent;
}
.scrollReview {
    -fx-focus-color: transparent;
    -fx-padding: 2.25;
    -fx-pref-width:16.5;
    -fx-vbar-policy:always;
    -fx-hbar-policy:never;
}
.display {
    -fx-font-family: "Helvetica";

}
.titleBookshelf{

     -fx-padding: 0 0 0 130;
     -fx-font-size: 24;

}
.titleBookshelf2{

     -fx-padding: 0 0 0 200;
     -fx-font-size: 24;

}
.hbTopBookshelf{
    -fx-padding: 25 0 0 0;
}
.scrollCenterLists{
    -fx-padding: 75 0 0 0;
    -fx-focus-color: transparent;
}
.vbLists{
    -fx-padding: 0 0 0 310;
}

.commitBookshelfButton{
       -fx-padding: 25px;
       -fx-border-insets: 5px;
       -fx-background-insets: 5px;
       -fx-backoground-color: linear-gradient(#F2BC94, #722620);

}

